@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
}

.makeColor {
    background-image: linear-gradient(#f66363 70%, hsl(43, 87%, 72%) 110%);
}

.makeShadow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.makeBtn {
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to right, #0acffe 0%, #24cb86 100%);
    border: none;
}

.makeHr {
    height: 1px;
    border-radius: 50px;
}

.myLinkBtn {
    border-radius: 100px;
    width: 50%;
    border: 2px solid #fff;
}