{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}


<div class="container mt-5">
    <!-- Registration Form Start -->
    <div class="row justify-content-center">
        <div class="col-lg-4 d-flex flex-column justify-content-center makeColor p-4 makeShadow">
            <h1 class="text-center font-weight-bold text-white">D<i class="fa fa-heartbeat text-danger"></i>nati<i
                    class="fa fa-globe h3 text-success"></i>n</h1>
            <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>

            <p class="text-center font-weight-bolder text-secondary lead">Please create
                your user account.</p>

        </div>
        <div class="col-lg-6 bg-white p-4 myShadow">
            <h1 class="text-center font-weight-bold text-secondary">Create Account</h1>
            <br>
            <form class="mb-5 border-top" method="POST">
                {{ form.hidden_tag() }}
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.name(class="form-control rounded-0", placeholder="Your name") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.username(class="form-control rounded-0", placeholder="Username") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.email(class="form-control rounded-0", placeholder="Your email") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.password(class="form-control rounded-0", placeholder="Password",
                    pattern="(?=.*[!@#$%&*_?])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Your password
                    must
                    be 8 characters minimum, must contain 1 upper case letter, 1 symbol
                    and 1 number.") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.confirm_password(class="form-control rounded-0", placeholder="Confirm Password")
                    }}
                </div>

                {{ form.submit(class="btn btn-secondary float-right") }}
            </form>
        </div>
    </div>
</div>
</div>
<!-- Registration Form End -->
</div>

{% endblock %}