{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- Registration Form Start -->
    <div class="row justify-content-center">
        <div class="col-lg-4 d-flex flex-column justify-content-center makeColor p-4 makeShadow">
            <h1 class="text-center font-weight-bold text-white">D<i class="fa fa-heartbeat  text-danger"></i>nati<i
                    class="fa fa-globe h3 text-success"></i>n</h1>
            <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>

            <p class="text-center font-weight-bolder text-secondary lead">Have an account?<a class="h5 text-light"
                    href="{{url_for('login')}}">
                    Sign In</a></p>
        </div>
        <div class="col-lg-6 bg-light p-4 myShadow">
            <h1 class="text-center font-weight-bold text-info">Create Account</h1>
            <br>
            <form class="mb-5 border-top" method="POST">
                {{ form.hidden_tag() }}
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.name(class="form-control rounded-0", placeholder="Your name") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.username(class="form-control rounded-0", placeholder="Username") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.email(class="form-control rounded-0", placeholder="Your email") }}
                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.password(class="form-control rounded-0", placeholder="Password", id="pwd",
                    pattern="(?=.*[!@#$%&*_?])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="
                    Your password must be 8 characters minimum, contain 1 upper case letter, 1 symbol and 1 number.") }}

                </div>
                <div id="message" class="p-2">
                    <h6 class="text-primary">Password must contain the following:</h6>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    <p id="capital" class="invalid">1 <b>uppercase</b> letter</p>
                    <p id="symbol" class="invalid">1 <b>symbol</b></p>
                    <p id="number" class="invalid">1 <b>number</b></p>

                </div>
                <div class="input-group input-group-lg form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
                    </div>
                    {{ form.confirm_password(class="form-control rounded-0", placeholder="Confirm Password")
                    }}
                </div>
                {{ form.submit(class="btn btn-danger makeShadow float-right") }}
            </form>
        </div>
    </div>
</div>
</div>
<!-- Registration Form End -->
</div>
<script>
    var myInput = document.getElementById("pwd");
    var special_letter = document.getElementById("symbol");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var symbol = /[!@#$%&*_?]/g;
        if (myInput.value.match(symbol)) {
            special_letter.classList.remove("invalid");
            special_letter.classList.add("valid");
        } else {
            special_letter.classList.remove("valid");
            special_letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>
{% endblock %}