{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="container mt-4 p-4">
    <!-- Registration Form Start -->
    <div class="row justify-content-center">
        <div class="col-lg-10 my-auto myShadow">
            <div class="row">
                <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
                    <h1 class="text-center font-weight-bold text-white">Donation</h1>
                    <hr class="my-4 bg-light myHr" />
                    <p class="text-center font-weight-bolder text-light lead">Please create
                        your user account.</p>
                    <a class="text-center" href="{{url_for('login')}}">
                        <button class="btn btn-outline-light btn-lg font-weight-bolder align-self-center myLinkBtn">Sign
                            in
                        </button>
                    </a>
                </div>
                <div class="col-lg-7 bg-white p-4">
                    <h1 class="text-center font-weight-bold text-secondary">Create Account</h1>
                    <hr class="my-3" />
                    <div class="container mt-4">
                        <form class="mb-5 border-top" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-user fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.name(class="form-control rounded-0", placeholder="Your name") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-user fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.username(class="form-control rounded-0", placeholder="Username") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-envelope fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.email(class="form-control rounded-0", placeholder="Your email") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-key fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.password_hash(class="form-control rounded-0", placeholder="Password",
                                pattern="(?=.*[!@#$%&*_?])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Your password
                                must
                                be 8 characters minimum, must contain 1 upper case letter, 1 symbol
                                and 1 number.") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-key fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.password_hash2(class="form-control rounded-0", placeholder="Confirm Password")
                                }}
                            </div>

                            <!-- <div class="input-group input-group-lg form-group">
        <div class="input-group-prepend">
            <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
        </div>
        <input type="password" id="password1" name="password1" for="password1" class="form-control rounded-0"
            minlength="8" placeholder="Password" required pattern="(?=.*[!@#$%&*_?])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Your password must be 8 characters minimum, must contain 1 upper case letter, 1 symbol
                  and 1 number." />
        <div class="input-group-append">
            <span class="input-group-text" onclick="password_show_hide();">
                <i class="fas fa-eye d-none" id="hide_eye"></i>
                <i class="fas fa-eye-slash" id="show_eye"></i>
            </span>
        </div>
    </div>

    <div class="input-group input-group-lg form-group mt-2">
        <div class="input-group-prepend">
            <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
        </div>
        <input type="password" id="password2" name="password2" for="password2" class="form-control rounded-0"
            minlength="8" placeholder="Confirm Password" required />
    </div> -->

                            {{ form.submit(class="btn btn-secondary float-right") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Registration Form End -->
    </div>
</div>
{% endblock %}