{% extends "base.html" %}
{% block title %}Donation Form{% endblock %}
{% block content %}


<div class="container">
    <!-- Donation form start-->
    <div class="row justify-content-center">
        <div class="col-lg-10 makeShadow bg-light p-4">
            <div class="float-left">
                <a href="{{ url_for('fundraiser', id=fund_to_update.id)}}">
                    <i class="btn fas fa-arrow-left fa-lg"></i></a>
            </div>
            <h1 class="text-center font-weight-bold text-info">Donation Form</h1>
            <form method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        {% if current_user.is_authenticated %}
                        <div class="input-group input-group-lg form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                            </div>
                            {{ form.name(class="form-control rounded-0", value=current_user.name) }}
                        </div>
                        <div class="input-group input-group-lg form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0"><i
                                        class="far fa-envelope fa-lg fa-fw"></i></span>
                            </div>
                            {{ form.email(class="form-control rounded-0", value=current_user.email) }}
                        </div>
                        <div class="input-group input-group-lg form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0"><i class="fas fa-home fa-lg fa-fw"></i></span>
                            </div>
                            {{ form.address(class="form-control rounded-0", placeholder="Billing Address",
                            value=current_user.address) }}
                        </div>
                        <div class="input-group input-group-lg form-group">
                            {{ form.city(class="form-control rounded-0", placeholder="City", value=current_user.city) }}

                            {{ form.state(class="form-control rounded-0", placeholder="State", value=current_user.state)
                            }}
                        </div>
                        <div class="input-group input-group-lg form-group">
                            {{ form.zipcode(class="form-control rounded-0", placeholder="zip code",
                            value=current_user.zipcode) }}
                        </div>
                        <div class="input-group input-group-lg form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0"><i
                                        class="fas fa-dollar-sign fa-lg fa-fw"></i></span>
                            </div>
                            {{ form.donate_amount(class="form-control rounded-0", placeholder="Enter amount") }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                        class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card
                                    </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#online-banking" class="nav-link "> <i
                                            class="fas fa-mobile-alt mr-2"></i> Online Banking </a> </li>
                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="username">
                                            <h6>Card Owner</h6>
                                        </label> <input type="text" name="username" placeholder="Card Owner Name"
                                            class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label for="cardNumber">
                                            <h6>Card number</h6>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" name="cardNumber" placeholder="xxxx xxxx xxxx xxxx"
                                                pattern="[0-9]*" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i>
                                                    <i class="fab fa-cc-mastercard mx-1"></i>
                                                    <i class="fab fa-cc-amex mx-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>
                                                    <span class="hidden-xs">
                                                        <h6>Expiration Date</h6>
                                                    </span>
                                                </label>
                                                <div class="input-group">
                                                    <input type="number" placeholder="MM" maxlength="2"
                                                        class="form-control">
                                                    <input type="number" placeholder="YYYY" maxlength="4"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4">
                                                <label data-toggle="tooltip"
                                                    title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label>
                                                <input type="number" placeholder="cvv" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End -->
                            <!-- bank transfer info -->
                            <div id="online-banking" class="tab-pane fade pt-3">
                                <div class="form-group ">
                                    <label for="Select Your Bank">
                                        <h6>Select your Bank</h6>
                                    </label>
                                    <select class="form-control">
                                        <option value="" selected disabled>--Please select your Bank--</option>
                                        <option>Bank 1</option>
                                        <option>Bank 2</option>
                                        <option>Bank 3</option>
                                        <option>Bank 4</option>
                                        <option>Bank 5</option>
                                        <option>Bank 6</option>
                                        <option>Bank 7</option>
                                        <option>Bank 8</option>
                                        <option>Bank 9</option>
                                        <option>Bank 10</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <h6>Bank's Account Number</h6>
                                    </label>
                                    <input type="number" placeholder="Account Number" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>
                                        <h6>Bank's Rounting Number</h6>
                                    </label>
                                    <div class="input-group">
                                        <input type="number" placeholder="Rounting Number" class="form-control">
                                    </div>
                                </div>
                            </div> <!-- End -->
                            <!-- End -->
                            <div class="form-group float-right">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>
                            {% else %}
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-user fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.name(class="form-control rounded-0", placeholder="Your name") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-envelope fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.email(class="form-control rounded-0", placeholder="Your Email") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-home fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.address(class="form-control rounded-0", placeholder="Billing Address") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                {{ form.city(class="form-control rounded-0", placeholder="City") }}

                                {{ form.state(class="form-control rounded-0", placeholder="State") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                {{ form.zipcode(class="form-control rounded-0", placeholder="Zip code") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-dollar-sign fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.donate_amount(class="form-control rounded-0", placeholder="Enter amount") }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                <!-- Credit card form tabs -->
                                <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                    <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                            class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit
                                            Card
                                        </a> </li>
                                    <li class="nav-item"> <a data-toggle="pill" href="#online-banking"
                                            class="nav-link ">
                                            <i class="fas fa-mobile-alt mr-2"></i> Online Banking </a> </li>
                                </ul>
                            </div> <!-- End -->
                            <!-- Credit card form content -->
                            <div class="tab-content">
                                <!-- credit card info-->
                                <div id="credit-card" class="tab-pane fade show active pt-3">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>
                                                <h6>Card Owner</h6>
                                            </label> <input type="text" placeholder="Card Owner Name"
                                                class="form-control ">
                                        </div>
                                        <div class="form-group"> <label for="cardNumber">
                                                <h6>Card number</h6>
                                            </label>
                                            <div class="input-group">
                                                <input type="text" placeholder="xxxx xxxx xxxx xxxx" pattern="[0-9]*"
                                                    class="form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text text-muted">
                                                        <i class="fab fa-cc-visa mx-1"></i>
                                                        <i class="fab fa-cc-mastercard mx-1"></i>
                                                        <i class="fab fa-cc-amex mx-1"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label>
                                                        <span class="hidden-xs">
                                                            <h6>Expiration Date</h6>
                                                        </span>
                                                    </label>
                                                    <div class="input-group">
                                                        <input type="number" placeholder="MM" class="form-control">
                                                        <input type="number" placeholder="YYYY" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group mb-4">
                                                    <label data-toggle="tooltip"
                                                        title="Three digit CV code on the back of your card">
                                                        <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                    </label>
                                                    <input type="number" placeholder="cvv" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End -->
                                <!-- bank transfer info -->
                                <div id="online-banking" class="tab-pane fade pt-3">
                                    <div class="form-group ">
                                        <label for="Select Your Bank">
                                            <h6>Select your Bank</h6>
                                        </label>
                                        <select class="form-control">
                                            <option value="" selected disabled>--Please select your Bank--</option>
                                            <option>Bank 1</option>
                                            <option>Bank 2</option>
                                            <option>Bank 3</option>
                                            <option>Bank 4</option>
                                            <option>Bank 5</option>
                                            <option>Bank 6</option>
                                            <option>Bank 7</option>
                                            <option>Bank 8</option>
                                            <option>Bank 9</option>
                                            <option>Bank 10</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <h6>Bank's Account Number</h6>
                                        </label>
                                        <input type="number" placeholder="Account Number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <h6>Bank's Rounting Number</h6>
                                        </label>
                                        <div class="input-group">
                                            <input type="number" placeholder="Rounting Number" class="form-control">
                                        </div>
                                    </div>
                                </div> <!-- End -->
                                <!-- End -->
                                <div class="form-group float-right">
                                    <button type="submit" class="btn btn-secondary">Submit</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Donation Form End -->
{% endblock %}