{% extends "base.html" %}
{% block title %}Forgot Username{% endblock %}
{% block content %}

<!-- Forgot Password Form Start -->
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row makeShadow bg-white">
                <div class="p-4">
                    <div class="float-left">
                        <a href="{{url_for('login')}}"><i class="btn fas fa-arrow-left fa-lg"></i></a>
                    </div>
                    <h1 class="text-center font-weight-bold text-secondary">Forgot Your Username?</h1>
                    <hr class="my-3" />
                    <p class="lead text-center text-secondary">To see your username, enter the registered e-mail
                        adddress and we will send your username to your e-mail!</p>
                    <form method="POST" class="px-3 p-4">
                        <div class="input-group input-group-lg form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg"></i></span>
                            </div>
                            {{ form.email(class="form-control rounded-0", placeholder="Your email") }}
                        </div>
                        {{ form.submit(class="btn btn-secondary float-right") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Form End -->
    {% endblock %}