{% extends "base.html" %}
{% block title %}Fundraiser{% endblock %}
{% block content %}

<div class="container">
    <div class="row d-flex flex-column justify-content-center makeColor p-4">
        <h1 class="text-center font-weight-bold text-white">D<i class="fa fa-heartbeat text-danger"></i>nati<i
                class="fa fa-globe h3 text-success"></i>n</h1>
        <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>
        <p class="text-center text-black">Don't Have an Account?<a class="h6 text-light text-primary"
                href="{{url_for('add_user')}}">
                Sign up</a>
        </p>
    </div>
</div>
<hr class="bg-light makeHr" />
<div class="container makeColor">
    <div class="row">
        <div class="col-lg-5 p-4">
            <div class="card row shadow-sm">
                <div class="card-header bg-transparent text-center">
                    <img src="{{ url_for('static', filename='images/' + current_fundraiser.fundraiser_pic)}}"
                        alt="Fundraiser image" style="width: 100%;">
                </div>
                <div class="card-body">
                    <p class="h5 mb-0 text-primary">{{current_fundraiser.title}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 p-4">
            <div class="card row shadow-sm">
                <div class="card-header bg-transparent border-0">
                    <h2 class="mb-0 text-secondary"><i class="far fa-clone pr-1"></i>Fundraiser Description
                    </h2>
                    <p class="h4 font-weight-normal text-primary ">{{current_fundraiser.description}}
                    </p>
                </div>
            </div>

            <div class="card row shadow-sm mt-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Goal amount</th>
                            <th>Raised amount</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">${{ current_fundraiser.fund_goal }}</td>
                            <td class="text-center">${{ current_fundraiser.raised_amount }}</td>
                            <td class="text-center">
                                <div class="progress mt-1">
                                    <div class="progress-bar progress-bar-striped" style="width: 47%"
                                        role=" progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-bar-label">
                                            {{ current_fundraiser.current_process }}%</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right"><a href="{{ url_for('donation', id=current_fundraiser.id)}}"
                                    class="btn btn-danger btn-sm">Donate
                                    now</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card row shadow-sm mt-4">
                <div class="card-header bg-transparent border-0">
                    <h4 class="mb-0 text-secondary"><i class="fas fa-list pr-1"></i>Recent Donations
                    </h4>
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-left">
                                <th>Donor's name</th>
                                <th class="text-right">Amount</th>
                                <th>Datetime donated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for donor in donors %}
                            {% if donor.fundraiser_id == current_fundraiser.id %}
                            <tr>
                                <td class="text-left">{{ donor.name }}</td>
                                <td class="text-right">${{ donor.donate_amount }}</td>
                                <td>{{ donor.date_donated }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var i = 0;
    var bar = document.querySelector(".progress-bar");
    function makeProgress() {
        if (i < '{{ current_fundraiser.current_process  }}') {
            i = i + 1;
            bar.style.width = i + "%";
            bar.innerText = i + "%";
        }
        // Wait for sometime before running this script again
        setTimeout("makeProgress()", 60);
    }
    makeProgress();
</script>
{% endblock %}