{% extends "base.html" %}
{% block title %}Fundraiser{% endblock %}
{% block content %}

<div class="container makeShadow">
    <div class="row d-flex flex-column justify-content-center makeColor p-4">
        <h1 class="text-center font-weight-bold text-white">D<i class="fa fa-heartbeat text-danger"></i>nati<i
                class="fa fa-globe h3 text-success"></i>n</h1>
        <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>
        <p class="text-center text-black">Don't Have an Account?<a class="h6 text-light text-primary"
                href="{{url_for('add_user')}}">
                Sign up</a>
        </p>
    </div>
</div>
<hr class="bg-light makeHr p-0" />
<div class="container makeColor makeShadow p-0">
    <div class="row">
        <div class="col-lg-5 mb-2">
            <div class="card img-thumbnail">
                <div class="card-header">
                    <p class="h5 text-dark"><i class="fas fa-star-of-life pr-1"></i>{{current_fundraiser.title}}
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/fundraisers/' + current_fundraiser.fundraiser_pic)}}"
                    alt="Fundraiser image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="text-info"></i>Fundraiser Description
                    </h4>
                    <p class="text-muted">{{current_fundraiser.description}}
                    </p>
                    <a href="{{ url_for('donation', id=current_fundraiser.id)}}"
                        class="btn btn-danger btn-sm float-right">Donate now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr class="row">
                                <th class="col">Goal amount</th>
                                <th class="col">Raised amount</th>
                                <th class="col text-center">Progress</th>
                                <th class="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col nums">{{ current_fundraiser.fund_goal }}</td>
                                <td class="col nums">{{ current_fundraiser.raised_amount }}</td>
                                <td class="col text-center">
                                    <div class="progress mt-1">
                                        <div class="progress-bar bg-info progress-bar-striped" style="width: 0%"
                                            role=" progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progress-bar-label">
                                                {{ current_fundraiser.current_process }}%</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col text-center"><a href="{{ url_for('donation', id=current_fundraiser.id)}}"
                                        class="btn btn-danger btn-sm">Donate</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-info"><i class="fas fa-list pr-1"></i>Recent Donations
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="card-body p-1">
                    <table id="sort-table" class="table table-striped table-bordered p-0">
                        <thead class="thead-dark">
                            <tr>
                                <th class="col">Donor's name</th>
                                <th class="col text-right">Amount</th>
                                <th class="col text-center">Datetime donated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for donor in donors %}
                            {% if donor.fundraiser_id == current_fundraiser.id %}
                            <tr>
                                <td class="col-sm-4">{{ donor.name|title }}</td>
                                <td class="col-sm-4 nums text-right">{{ donor.donate_amount }}</td>
                                <td class="col-sm-4 text-center">{{ donor.date_donated }} {{ donor.time_donated }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#sort-table').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>
    // Make progress-bar processing
    var i = 0;
    var bar = document.querySelector(".progress-bar");
    function makeProgress() {
        if (i < '{{ current_fundraiser.current_process  }}') {
            i = i + 1;
            bar.style.width = i + "%";
            bar.innerText = i + "%";
        }
        // Wait for sometime before running this script again
        setTimeout("makeProgress()", 60);
    }
    makeProgress();
</script>
{% endblock %}