{% extends "base.html" %}
{% block title %}Fundraiser{% endblock %}
{% block content %}



<div class="container mt-5">
    <div class="row d-flex flex-column justify-content-center myColor p-4">
        <h1 class="text-center font-weight-bold text-white">Donation</h1>
        <hr class="my-2 bg-light myHr" />
        <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>
        <p class="text-center text-black">Don't Have an Account?<a class="h6 text-light text-primary"
                href="{{url_for('add_user')}}">
                Sign up</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row mybg p-4">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-header bg-transparent text-center">
                    ><img src="{{ url_for('static', filename='images/' + current_fundraiser.fundraiser_pic)}}"
                        alt="Fundraiser image" style="width: 100%;">
                </div>
                <div class="card-body">
                    <p class="h5 mb-0 text-primary">{{current_fundraiser.title}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                    <h2 class="mb-0 text-secondary"><i class="far fa-clone pr-1"></i>Fundraiser Description
                    </h2>
                    <hr class="my-3" />
                    <p class="h4 font-weight-normal text-primary ">{{current_fundraiser.description}}
                    </p>
                </div>
            </div>
            <div style="height: 20px"></div>
            <div class="card shadow-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>FID</th>
                            <th>Goal amount</th>
                            <th>Raised amount</th>
                            <th>Process</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ current_fundraiser.user_id }}</td>
                            <td class="text-center">${{ current_fundraiser.fund_goal }}</td>
                            <td class="text-center">${{ current_fundraiser.raised_amount }}</td>
                            <td>
                                <div class="progress" style="width: 100%; margin: 5px;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class=" progress-bar-label">
                                            {{ current_fundraiser.current_process }}%</span>
                                    </div>

                                </div>
                            </td>
                            <td class="text-right"><a href="{{ url_for('donation', id=current_fundraiser.id)}}"
                                    class="btn btn-danger btn-sm">Donate
                                    now</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="col-lg-">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h4 class="mb-0 text-secondary"><i class="far fa-clone pr-1"></i>Recent Donations
                        </h4>
                        <hr class="my-3" />
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>DID</th>
                                    <th>Donor's name</th>
                                    <th>Amount</th>
                                    <th>Datetime donated</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for donor in donors %}
                                {% if donor.fundraiser_id == current_fundraiser.id %}
                                <tr class="text-center">
                                    <td>{{ donor.id }}</td>
                                    <td>{{ donor.name }}</td>
                                    <td>${{ donor.donate_amount }}</td>
                                    <td>{{ donor.date_donated }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}