{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if category == 'warning' %}
<div class="alert alert-warning alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if category == 'danger' %}
<div class="alert alert-danger alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container d-flex flex-column justify-content-center">
    <div class="row d-flex flex-column justify-content-center myColor p-4">
        <h1 class="text-center font-weight-bold text-white">Donation</h1>
        <hr class="my-4 bg-light myHr" />
        <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>
    </div>

    <div class="row d-flex flex-column justify-content-center bg-light p-4 ">
        <div class="input-group input-group-lg form-group">
            <h2 class="text-left text-secondary">Fundraiser List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-right">Goal amount</th>
                        <th class="text-right">Raised amount</th>
                        <th class="text-center">Created by</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fundraiser in all_fundraisers %}
                    <tr>
                        <td><a href="{{ url_for('fundraiser', id=fundraiser.id)}}">{{ fundraiser.title }}</a></td>
                        <td class="text-right">${{ fundraiser.fund_goal }}</td>
                        <td class="text-right">${{ fundraiser.raised_amount }}</td>
                        <td class="text-center">{{ fundraiser.funder.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}