{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container my-auto myShadow bg-light mt-4 p-4">
    <div class="container">
        <h2>Fundraiser List</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Fund Goal</th>
                </tr>
            </thead>
            <tbody>
                {% for our_user in our_users %}
                <tr>

                    <td>{{our_user.name }}</td>
                    <td>{{our_user.username }}</td>
                    <td>{{ our_user.email }}</td>
                    <td><a href="{{ url_for('update', id=our_user.id)}}">$ {{ our_user.fund_amount }}</a></td>
                    <td>{{ our_user.password}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}