{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container justify-content-center">
    <div class=" row d-flex flex-column justify-content-center makeColor p-4">
        <h1 class="text-center font-weight-bold text-white">D<i class="fa fa-heartbeat text-danger"></i>nati<i
                class="fa fa-globe h3 text-success"></i>n</h1>
        <p class="text-center font-weight-bolder text-light lead">Giving little can help a lot.</p>
        <p class="text-center text-black">Don't Have an Account?<a class="h6 text-light text-primary"
                href="{{url_for('add_user')}}">
                Sign up</a>
        </p>
    </div>
</div>
<hr class="bg-light makeHr" />
<div class="container makeColor">
    <div class="row row-cols-3 p-4">
        {% for fundraiser in all_fundraisers %}
        <div class="card-deck px-2 mb-4">
            <div class="card img-thumbnail">
                <a href="{{ url_for('fundraiser', id=fundraiser.id)}}"><img class="card-img-top"
                        src="{{ url_for('static', filename='images/' + fundraiser.fundraiser_pic)}}"
                        alt="Fundraiser image" style="width: 100%;"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ fundraiser.title }}</h5>
                    <p class="card-text">{{ fundraiser.description }}</p>
                    <p class="card-text"><small class="text-muted"><a
                                href="{{url_for('fundraiser', id=fundraiser.id)}}">More detail
                                >></a></small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}