<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('Dashboard')}}">Dashboard</a>
            <a class="nav-item nav-link" href="{{url_for('add_user')}}">Add user</a>
        </div>
    </div>
</nav>