{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

{% endfor %}

<!-- Forgot Password Form Start -->
<div class="container justify-content-center mt-2">
    <div class="col justify-content-center">
        <div class="myShadow">
            <div class="bg-white p-4">
                <div class="float-left">
                    <a href="{{url_for('login')}}"><i class="btn fas fa-arrow-left fa-lg"></i></a>
                </div>
                <h1 class="text-center font-weight-bold text-primary">Forgot Your Password?</h1>
                <hr class="my-3" />
                <p class="lead text-center text-secondary">To reset your password, enter the registered e-mail
                    adddress and we will send you password reset instructions to your e-mail!</p>
                <form method="POST" class="px-3 p-4">
                    <div class="input-group input-group-lg form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg"></i></span>
                        </div>
                        {{ form.email(class="form-control rounded-0", placeholder="Your email") }}
                    </div>
                    {{ form.submit(class="btn btn-secondary float-right") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Password Form End -->
{% endblock %}