{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="card">
    <div class="card-header">
        Update Profile
    </div>
    <div class="card-body">
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}

            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br />

            {{ form.username.label(class="form-label") }}

            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br />

            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br />

            {{ form.submit(class="btn btn-secondary btn-sm") }}

        </form>
    </div>
</div>

{% endblock %}