{% extends "base.html" %}
{% block content %}

{% if id == current_user.id %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 makeShadow bg-light p-4">
            <div class="float-left">
                <a href="{{ url_for('user_page', id=current_user.id)}}">
                    <i class="btn fas fa-arrow-left fa-lg"></i></a>
            </div>
            <h1 class="text-center font-weight-bold text-info">Update User Profile</h1>
            <form action="/update_user/{{ user_to_update.id }}" method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.hidden_tag() }}
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control rounded-0", value=user_to_update.name) }}
                        <br />
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control rounded-0", value=user_to_update.username) }}
                        <br />
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control rounded-0", value=user_to_update.email) }}

                    </div>
                    <div class="col-sm-6">
                        <div class="pt-4 pl-2 pr-2 pb-2">
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-home fa-lg fa-fw"></i></span>
                                </div>
                                {{ form.address(class="form-control rounded-0", value=user_to_update.address,
                                placeholder="Billing Address") }}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                {{ form.city(class="form-control rounded-0", value=user_to_update.city,
                                placeholder="City") }}

                                {{ form.state(class="form-control rounded-0", value=user_to_update.state,
                                placeholder="State")}}
                            </div>
                            <div class="input-group input-group-lg form-group">
                                {{ form.zipcode(class="form-control rounded-0", value=user_to_update.zipcode,
                                placeholder="Zip
                                code")}}
                            </div>
                            <div class="text-right">
                                {{ form.submit(class="btn btn-secondary") }}
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Sorry! You Can't Edit This User...
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>

<h2>Access Denied!</h2>
<p>Sorry, you cannot access this user profile...</p>

{% endif %}

{% endblock %}