{% extends "base.html" %}
{% block title %}Update Fundraiser{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if category == 'warning' %}
<div class="alert alert-warning alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if category == 'danger' %}
<div class="alert alert-danger alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}


<br />
<div class="container justify-content-center my-auto myShadow bg-light mt-4 p-4">
    <div class="col-sm-6">
        <h2>Update Fundraiser</h2>
        <form action="/update_fundraiser/{{ fundraiser_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", value=fundraiser_to_update.title, placeholder="New title") }}
            <br />
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", value=fundraiser_to_update.description, placeholder="New
            description")
            }}
            <br />
            {{ form.fund_goal.label(class="form-label") }}
            {{ form.fund_goal(class="form-control", value=fundraiser_to_update.fund_goal, placeholder="New goal") }}

            <br />

            {{ form.submit(class="btn btn-secondary btn-sm") }}

        </form>
    </div>
    <br /><br /><br />


    {% endblock %}