{% extends "base.html" %}
{% block title %}user{% endblock %}
{% block content %}

<div class="container makeShadow bg-light p-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/users/' + current_user.user_pic)}}" alt="User Avatar"
                    width="300" height="300" class="rounded-circle">
            </div>
            <div class="dropleft float-right">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog "></i></button>
                <div class="dropdown-menu bg-secondary">
                    <a class="text-light" href="#" data-toggle="modal" data-target="#changeAvatar"
                        data-whatever="@mdo">Change avatar</a>
                    <br>
                    <a class="text-white" href="{{ url_for('update_user', id=current_user.id)}}">Update information</a>
                    <br>
                    <a class="text-light" href="#" data-toggle="modal" data-target="#changePassword"
                        data-whatever="@mdo">Change password</a>
                </div>
                <div class="modal fade" id="changeAvatar" tabindex="-1" aria-labelledby="changeAvatarLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="changeAvatarLabel">Change Avatar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/user_page" method="POST" enctype="multipart/form-data">
                                    {{ form.user_pic.label(class="form-label") }}
                                    <div class="input-group input-group-lg form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text rounded-0"><i
                                                    class="far fa-image fa-lg fa-fw"></i>
                                            </span>
                                        </div>
                                        {{ form.user_pic(class="form-control", placeholder="Avatar") }}
                                    </div>
                                    {{ form.submit(class="btn btn-secondary float-right") }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/user_page" method="POST">
                                    <div class="form-group">
                                        <label class="col-form-label">Current password</label>
                                        {{ form.confirm_password(class="form-control rounded-0", placeholder="Password")
                                        }}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">New password:</label>
                                        {{ form.password(class="form-control rounded-0", placeholder="Password",
                                        pattern="(?=.*[!@#$%&*_?])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}",
                                        title="Your password must be 8 characters minimum, must contain 1 upper case
                                        letter,
                                        1 symbol and 1 number.") }}
                                    </div>
                                    <div class="text-right">
                                        {{ form.submit(class="btn btn-secondary") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-4">
            <h1 class="text-secondary">User profile</h1>
            <div class="h4">
                <strong>Name:</strong>
                {{ current_user.name|title }}<br />

                <strong>Username:</strong>
                {{ current_user.username }}<br />

                <strong>Email:</strong>
                {{ current_user.email|lower }}<br />

                <strong>Address:</strong>
                {{ current_user.address }}, {{ current_user.city }}, {{ current_user.state }} {{
                current_user.zipcode }}
                <br />

                <strong>Date Joined:</strong>
                {{ current_user.date_added }}<br />
                <strong>Time Joined:</strong>
                {{ current_user.time_added }}<br />
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container justify-content-center mt-4">
    <div class="row makeShadow bg-light p-4">
        <div class="col">
            <p class="text-secondary h3"><i class="fas fa-list pr-1"></i>Fundraiser Created</p>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col text-left">Title</th>
                        <th class="col text-right">Goal amount</th>
                        <th class="col text-right">Raised amount</th>
                        <th class="col text-center">Datetime Created</th>
                        <th class="col-sm-1 text-center"><i class=" fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for fundraiser in user_fundraisers %}
                    {% if fundraiser.user_id == current_user.id %}
                    <tr class="row">
                        <td class="col text-left"><a href="{{ url_for('fundraiser', id=fundraiser.id)}}">{{
                                fundraiser.title
                                }}</a></td>
                        <td class="col nums text-right">{{ fundraiser.fund_goal }}</td>
                        <td class="col nums text-right">{{ fundraiser.raised_amount }}</td>
                        <td class="col text-center"> {{ fundraiser.date_created }} {{ fundraiser.time_created }}</td>
                        <td class="col-sm-1">
                            <div class="dropdown text-center">
                                <button class="btn dropdown-toggle" data-toggle="dropdown"></button>
                                <div class="dropdown-menu bg-light">
                                    <a href="{{ url_for('update_fundraiser', id=fundraiser.id)}}" class=""><i
                                            class="fa fa-pen pr-1"></i>Edit</a>
                                    <br>
                                    <a href="{{ url_for('delete_fundraiser', id=fundraiser.id)}}" class="text-danger"><i
                                            class="fa fa-trash pr-1"></i>Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}