{% extends "base.html" %}
{% block title %}user{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

{% endfor %}

<div>
    <div class="container my-auto myShadow bg-light mt-4 p-4">
        <div class="row">
            <div class="col-8">
                <h2>User profile</h2>
                <strong>Name:</strong>
                {{ current_user.name }}<br />

                <strong>Username:</strong>
                {{ current_user.username }}<br />

                <strong>User Id:</strong>
                {{ current_user.id }}<br />

                <strong>Email:</strong>
                {{ current_user.email }}<br />

                <strong>Date Joined:</strong>
                {{ current_user.date_added }}<br />
                <br>

                <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

                <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
            </div>

            <div class="col-4">
                <div>
                    <h2>Fund goal</h2>

                    <strong>Your goal:</strong>
                    ${{ current_user.fund_amount }}<br />
                    <br>
                    <a href="{{ url_for('user_page', id=current_user.id)}}" class="btn btn-secondary btn-sm">Add a new
                        goal</a>
                </div>
                <br>
                <div>
                    <form action="/user_page" method="POST">
                        {{ form.fund_amount(class="form-control rounded-0", placeholder="$ Your new goal") }}
                        <br>
                        {{ form.submit(class="btn btn-secondary btn-sm") }}
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}