{% extends "base.html" %}
{% block title %}user{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

{% endfor %}

<div>
    <div class="container my-auto myShadow bg-light mt-4 p-4">
        <div class="row">
            <div class="col-8">
                <h2>User profile</h2>
                <strong>Name:</strong>
                {{ current_user.name }}<br />

                <strong>Username:</strong>
                {{ current_user.username }}<br />

                <strong>User Id:</strong>
                {{ current_user.id }}<br />

                <strong>Email:</strong>
                {{ current_user.email }}<br />

                <strong>Date Joined:</strong>
                {{ current_user.date_added }}<br />
                <br>

                <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

                <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
            </div>


        </div>
    </div>
    <div class="container my-auto myShadow bg-light mt-4 p-4">
        <div class="container">
            <h2>Fundraiser List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-right">Goal amount</th>
                        <th class="text-right">Raised amount</th>
                        <th class="text-center">Created by</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fundraiser in all_fundraisers %}
                    <tr>
                        <td><a href="{{ url_for('fundraiser', id=fundraiser.id)}}">{{ fundraiser.title }}</a></td>
                        <td class="text-right">${{ fundraiser.fund_goal }}</td>
                        <td class="text-right">${{ fundraiser.raised_amount }}</td>
                        <td class="text-center">{{ fundraiser.date_created}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}